<%- include("partials/header.ejs") %>

    <main>
        <div class="container">
            <h1><%= listTitle %></h1>
            <div class="list">
                <form action="/submit" method="POST" class="list-item" >
                    <input type="text" name="todo" placeholder="New Todo" autocomplete="off" required>
                    <button type="submit" name="list" value="<%= listTitle %>" >add</button>
                </form>       
            </div>
        </div>
        <div class="container">
            <div class="list">
                <% newListItems.forEach((item) => { %>
                    <form method="post" action="/delete">
                        <div class="list-item">
                            <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
                            <p><%= item.todo %></p>
                        </div>
                        <input type="hidden" name="listName" value="<%= listTitle %>">
                    </form>
                <% }); %>
                <% if (newListItems.length === 0) { %>
                    <p>No existing todos.</p>
                <% } %>    
            </div>
        </div>
    </main>

<%- include("partials/footer.ejs") %>



